{% extends 'tasks/base.html' %}

{% load static %}

{% block head %}

{% endblock %}

{% block body %}
<div class="header">

    {% if user.is_authenticated %}
    <div class="task_create">
        <a href="create_task">task create</a>
    </div>
    {% endif %}

    <div class="profile">
        <ul class="profile_list">
            {% if not user.is_authenticated %}
                <li><a href="{% url 'login' %}" class="sign_in">sign in</a></li>
                <li><a href="{% url 'signup' %}" class="sign_up">sign up</a></li>
            {% else %}
                <li><div class="profile_login">{{ user.username|default:'Guest' }}</div></li>
                <li><a href="{% url 'logout' %}" class="profile_exit">exit</a></li>
            {% endif %}
        </ul>
    </div>

</div>

<div class="tasks">
    {% if user.is_authenticated %}
        {% if tasks|length > 0 %}

            {% for task in tasks %}
                <div class="task" id="{{ task.id }}">
                    <div class="task_mark"></div>
                    <div class="task_mark_shadow"></div>
                    <div class="task_title">{{ task.title }}</div>
                    <div class="task_content">{{ task.content }}</div>
                </div>

            {% endfor %}

        {% else %}
            <div class="task_empty">Пока что тут тишина, создайте задачу...</div>
        {% endif %}
    {% else %}
          <div class="task_empty">Пусто...</div>
    {% endif %}

</div>

<div class="toolbar">

    <div class="delete_tasks">
        Del
    </div>

    <div class="edit_task">
        Edit
    </div>

</div>

<script src="{% static 'scripts/script.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}